<h1> About us </h1>

<p> This is just a simple CRUD webpage made with rails to don't lose my exams data through time :) </p>


<pre>
    / ======= \
   / __________\
  | ___________ |
  | | -       | |
  | |         | |
  | |_________| |________________________
  \=____________/     carolina brito     )
  / """"""""""" \                       /
 / ::::::::::::: \                  =D-'
(_________________)
</pre>
